<h1>Facilities#index</h1>
<h1>Listing Facilities</h1>

<table>
  <thead>
    <tr>
      <th>Facility_Name</th>
      <th>Facility</th>
       <th>dairy</th>
      <th>Nuts</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.facilityName %></td>
        <td><%= facility.facility_id %></td>
        <td><%= facility.dairy %></td>
        <td><%= facility.fish %></td>
        <td><%= facility.peanuts %></td>
        <td><%= facility.tree_Nuts %></td>
        <td><%= facility.eggs %></td>
        <td><%= facility.wheat_gluten %></td>
        <td><%= facility.soy %></td>
        <td><%= facility.crusta %></td>
        <td><%= link_to 'Show', facility %></td>
        <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
        <td><%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility', new_facility_path %>
