<h1>Facilities#index</h1>
<h1>Listing Facilities</h1>

<table>
  <thead>
    <tr>
      <th>Facility_Name</th>
      <th>Facility</th>
       <th>dairy</th>
      <th>Nuts</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.code %></td>
        <td><%= item.productName %></td>
        <td><%= item.facility %></td>
        <td><%= item.nuts %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
