<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :facility_id %><br>
    <%= f.text_field :facility_id %>
  </div>
  <div class="field">
    <%= f.label :dairy %><br>
    <%= f.text_field :dairy %>
  </div>
  <div class="field">
    <%= f.label :fish %><br>
    <%= f.text_field :fish %>
  </div>
  <div class="field">
    <%= f.label :peanuts %><br>
    <%= f.text_field :peanuts %>
  </div>
  <div class="field">
    <%= f.label :tree_Nuts %><br>
    <%= f.text_field :tree_Nuts %>
  </div>
  <div class="field">
    <%= f.label :eggs %><br>
    <%= f.text_field :eggs %>
  </div>
  <div class="field">
    <%= f.label :wheat_gluten %><br>
    <%= f.text_field :wheat_gluten %>
  </div>
  <div class="field">
    <%= f.label :soy %><br>
    <%= f.text_field :soy %>
  </div>
  <div class="field">
    <%= f.label :crusta %><br>
    <%= f.text_field :crusta %>
  </div>
  <div class="field">
    <%= f.label :same_Line %><br>
    <%= f.text_field :same_Line %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
