<p id="notice"><%= notice %></p>

<p>
  <strong>Facility:</strong>
  <%= @item.facility_id %>
</p>

<p>
  <strong>Dairy:</strong>
  <%= @item.dairy %>
</p>

<p>
  <strong>Fish:</strong>
  <%= @item.fish %>
</p>

<p>
  <strong>Peanuts:</strong>
  <%= @item.peanuts %>
</p>

<p>
  <strong>Tree nuts:</strong>
  <%= @item.tree_Nuts %>
</p>

<p>
  <strong>Eggs:</strong>
  <%= @item.eggs %>
</p>

<p>
  <strong>Wheat gluten:</strong>
  <%= @item.wheat_gluten %>
</p>

<p>
  <strong>Soy:</strong>
  <%= @item.soy %>
</p>

<p>
  <strong>Crusta:</strong>
  <%= @item.crusta %>
</p>

<p>
  <strong>Same line:</strong>
  <%= @item.same_Line %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
